.lorem{
    font-size: 20px;
    color: red;
}
.lorem2{
    letter-spacing: 15px;
}

.shakir{
    width: 300px;
    height: 300px;
    border: 2px solid red;
}
.shamiur{
    background-color: black;
}