.btn{
    width: 500px;
    background: #333;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
}
.lorem{
    width: 500px;
    background: #000;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    /* display: none; */
}